<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/static/style.css">
    <title>Generated Output</title>
</head>
<body>
    <img class="logo" src="/templates/static/img/logo.svg">
    <pre id="scrollbar" class="display_block">
{{.}}</pre>
    <a href="http://localhost:8080/download">Download</a>
    <a href="/"><button id="go_back" class="btn">Go Back</button></a>
</body>
</html>